.breadcrumbs {
  margin-bottom: 5px;
  font-size: 0.85rem;
  display: flex;
}

.breadcrumbs > * {
  margin-right: 10px;
}

.slash {
  margin-right: 10px;
}

.breadcrumbs a {
  color: #06c;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbButton {
  color: #06c;
  text-decoration: none;
  border: 0;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.breadcrumbButton:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  color: #06c;
}
